dialog::-webkit-scrollbar {
    opacity: 0;
}

dialog {
    margin: auto;
    height: 80vh;
    width: 80vw;
    border: none;
    border-radius: 24px;
    /* padding: 20px; */
    background-color: #142b3d;
    color: #fff;
    /* overflow-y: scroll; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

dialog h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 30px auto;
    text-align: center;
}

dialog .imgagen {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.imgagen img {
    width: 800px;
}

.caja-informacion {
    margin: auto;
    max-width: 950px;
    font-size: 22px;
}

.caja-links {
    display: flex;
    max-width: 950px;
    justify-content: space-evenly;
    margin: 40px;
}

dialog #salir {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    cursor: pointer;
} 

dialog #salir i {
    font-size: 30px;
}

dialog #salir:hover {
    color: #232323;
    transition: all .60s ease;
}
