---
import Experiencia from '../components/Experiencia/Experiencia.astro';
import Home from '../components/Home/Home.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout>
	<div class="grid grid-cols-3 grid-rows-2 gap-2 w-[1200px]">
		<div class="border-2 border-[#41ECF8] rounded-md px-3.5 py-2.5 bg-[#051521] col-span-2">
			<Home />
		</div>
		<div class="border-2 border-[#41ECF8] rounded-md px-3.5 py-2.5 bg-[#051521]">
			<Experiencia />
		</div>
		<div class="border-2 border-[#41ECF8] rounded-md px-3.5 py-2.5 bg-[#051521] col-span-3 row-start-2">3</div>
	</div>
</Layout>
